<%= form_for(@rescheduling) do |f| %>
  <% if @rescheduling.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rescheduling.errors.count, "error") %> prohibited this rescheduling from being saved:</h2>

      <ul>
      <% @rescheduling.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
