<h1>Listing reschedulings</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reschedulings.each do |rescheduling| %>
  <tr>
    <td><%= link_to 'Show', rescheduling %></td>
    <td><%= link_to 'Edit', edit_rescheduling_path(rescheduling) %></td>
    <td><%= link_to 'Destroy', rescheduling, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rescheduling', new_rescheduling_path %>
