<h1>Редактирование рабочей программы дисциплины</h1>


<!--если надо, чтобы открывалась программа-->
<%= render 'form' %>

<!--если надо,чтобы открывалась обычная форма вместо program -->


<%= link_to 'Перейти к дисциплине', @discipline %> |
<%= link_to 'Назад', disciplines_path %>
