<p>Кафедра бизнес-информатики Вятского Государственного Университета</p>
<p>Адрес: Кировская область, г.Киров, ул. Карла Маркса, д. 77, каб. 306</p>
<p>Телефон: (8332) 35-02-88</p>
<p>Режим работы: понедельник-пятница, с 9:00 до 17:00</p>