<h1>Редактирование записи о формировании/требовании компетенции</h1>

<%= render 'form' %>

<%= link_to 'Показать', @formation_of_competence %> |
<%= link_to 'Ко всем записям о формировании компетенций', formation_of_competences_path %>
