<h3>Журнал посещаемости студентов</h3><br/>

<p>Группа: ПИЭ-51</p>
<p>Дисциплина: Информационые системы</p>
<p>Тип занятия: Лекция</p><br/>
<%= render 'form' %><br/>

<%= link_to 'Назад', :back, :style => "margin-left: 30px" %><br/><br/>
