<h1>Загрузка материала</h1>


<% form_for(@material, :html => {:multipart => true}) do |f| %>
    <!--здесь было эррор мессаджес-->
    <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>




<%= render 'form' %>

<%= link_to 'К списку загруженных материалов', materials_path %>
